#gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.square {
  border: 1px solid black;
  height: 25%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
